{
  "openapi": "3.1.1",
  "info": {
    "title": "AgeDigitalTwins.ApiService | v1",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://demo.api.graph.konnektr.io/"
    }
  ],
  "paths": {
    "/query": {
      "post": {
        "tags": [
          "Query"
        ],
        "summary": "Executes a query against the digital twins graph with pagination.",
        "operationId": "Query",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageOfJsonDocument"
                }
              }
            }
          }
        }
      }
    },
    "/digitaltwins/{id}": {
      "get": {
        "tags": [
          "Digital Twins"
        ],
        "summary": "Retrieves a digital twin by its ID.",
        "operationId": "GetDigitalTwin",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicDigitalTwin"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Digital Twins"
        ],
        "summary": "Creates or replaces a digital twin by its ID.",
        "operationId": "CreateOrReplaceDigitalTwin",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BasicDigitalTwin"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicDigitalTwin"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Digital Twins"
        ],
        "summary": "Updates a digital twin by its ID.",
        "operationId": "UpdateDigitalTwin",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonPatch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "Digital Twins"
        ],
        "summary": "Deletes a digital twin by its ID.",
        "operationId": "DeleteDigitalTwin",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/digitaltwins/{twinId}/components/{componentName}": {
      "get": {
        "tags": [
          "Components"
        ],
        "summary": "Retrieves a component from a digital twin by its name.",
        "operationId": "GetComponent",
        "parameters": [
          {
            "name": "twinId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "componentName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicDigitalTwinComponent"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Components"
        ],
        "summary": "Updates a component on a digital twin using a JSON patch.",
        "operationId": "UpdateComponent",
        "parameters": [
          {
            "name": "twinId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "componentName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonPatch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/digitaltwins/{twinId}/telemetry": {
      "post": {
        "tags": [
          "Telemetry"
        ],
        "summary": "Publishes telemetry data for a digital twin.",
        "operationId": "PublishTelemetry",
        "parameters": [
          {
            "name": "twinId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonDocument"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/digitaltwins/{twinId}/telemetry/components/{componentName}": {
      "post": {
        "tags": [
          "Telemetry"
        ],
        "summary": "Publishes telemetry data for a specific component of a digital twin.",
        "operationId": "PublishComponentTelemetry",
        "parameters": [
          {
            "name": "twinId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "componentName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonDocument"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/digitaltwins/{id}/incomingrelationships": {
      "get": {
        "tags": [
          "Relationships"
        ],
        "summary": "Lists all incoming relationships for a digital twin.",
        "operationId": "ListIncomingRelationships",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/digitaltwins/{id}/relationships": {
      "get": {
        "tags": [
          "Relationships"
        ],
        "summary": "Lists all relationships for a digital twin.",
        "operationId": "ListRelationships",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/digitaltwins/{id}/relationships/{relationshipId}": {
      "get": {
        "tags": [
          "Relationships"
        ],
        "summary": "Retrieves a specific relationship by its ID.",
        "operationId": "GetRelationship",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "relationshipId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicRelationship"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Relationships"
        ],
        "summary": "Creates or replaces a relationship for a digital twin.",
        "operationId": "CreateOrReplaceRelationship",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "relationshipId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BasicRelationship"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicRelationship"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Relationships"
        ],
        "summary": "Updates a specific relationship for a digital twin.",
        "operationId": "UpdateRelationship",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "relationshipId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonPatch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "Relationships"
        ],
        "summary": "Deletes a specific relationship for a digital twin.",
        "operationId": "DeleteRelationship",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "relationshipId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/models": {
      "get": {
        "tags": [
          "Models"
        ],
        "summary": "Lists all models in the digital twins graph.",
        "operationId": "ListModels",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Models"
        ],
        "summary": "Creates new models in the digital twins graph.",
        "operationId": "CreateModels",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DigitalTwinsModelData"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Models"
        ],
        "summary": "Deletes all models in the digital twins graph.",
        "operationId": "DeleteAllModels",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/models/{id}": {
      "delete": {
        "tags": [
          "Models"
        ],
        "summary": "Deletes a specific model by its ID.",
        "operationId": "DeleteModel",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/jobs/imports/{id}": {
      "put": {
        "tags": [
          "Import Jobs"
        ],
        "summary": "Create and start a new import job",
        "description": "Creates and starts a new import job. The job will run in the background and return immediately. Monitor job progress using the GetImportJob endpoint.",
        "operationId": "CreateImportJob",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportJobRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportJob"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Import Jobs"
        ],
        "summary": "Get import job by ID",
        "description": "Retrieves the status and details of an import job by its ID.",
        "operationId": "GetImportJob",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportJob"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Import Jobs"
        ],
        "summary": "Delete an import job",
        "description": "Removes an import job from the system. This is a non-standard endpoint for cleanup purposes.",
        "operationId": "DeleteImportJob",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/imports": {
      "get": {
        "tags": [
          "Import Jobs"
        ],
        "summary": "List all import jobs",
        "description": "Retrieves a list of all import jobs with optional pagination.",
        "operationId": "ListImportJobs",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageWithNextLinkOfImportJob"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/imports/{id}/cancel": {
      "post": {
        "tags": [
          "Import Jobs"
        ],
        "summary": "Cancel an import job",
        "description": "Cancels a running import job. Note that this will leave your instance in an unknown state as there won't be any rollback operation.",
        "operationId": "CancelImportJob",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportJob"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/imports/{id}/resume": {
      "post": {
        "tags": [
          "Import Jobs"
        ],
        "summary": "Resume an import job",
        "description": "Resumes an interrupted import job from its last checkpoint. The job must be in a resumable state (Running or Failed).",
        "operationId": "ResumeImportJob",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportJob"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BasicDigitalTwin": {},
      "BasicDigitalTwinComponent": {},
      "BasicRelationship": {
        "type": "object",
        "properties": {
          "$relationshipId": {
            "type": "string"
          },
          "$targetId": {
            "type": "string"
          },
          "$sourceId": {
            "type": "string"
          },
          "$relationshipName": {
            "type": "string"
          },
          "$etag": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "DigitalTwinsModelData": {
        "required": [
          "id",
          "model",
          "uploadTime",
          "displayName",
          "description",
          "bases",
          "descendants",
          "decommissioned",
          "embedding"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "model": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/JsonElement"
              }
            ]
          },
          "uploadTime": {
            "type": [
              "null",
              "string"
            ],
            "format": "date-time"
          },
          "displayName": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "description": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "bases": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "type": "string"
            }
          },
          "descendants": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "type": "string"
            }
          },
          "decommissioned": {
            "type": "boolean"
          },
          "embedding": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?(?:[eE][+-]?\\d+)?$",
              "type": [
                "number",
                "string"
              ],
              "format": "double"
            }
          }
        }
      },
      "ImportJob": {
        "type": "object",
        "properties": {
          "id": {
            "type": [
              "null",
              "string"
            ]
          },
          "status": {
            "$ref": "#/components/schemas/JobStatus"
          },
          "createdDateTime": {
            "type": "string",
            "format": "date-time"
          },
          "lastActionDateTime": {
            "type": "string",
            "format": "date-time"
          },
          "finishedDateTime": {
            "type": [
              "null",
              "string"
            ],
            "format": "date-time"
          },
          "purgeDateTime": {
            "type": [
              "null",
              "string"
            ],
            "format": "date-time"
          },
          "modelsCreated": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "twinsCreated": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "relationshipsCreated": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "errorCount": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "inputBlobUri": {
            "type": "string",
            "format": "uri"
          },
          "outputBlobUri": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "ImportJobRequest": {
        "type": "object",
        "properties": {
          "inputBlobUri": {
            "type": "string",
            "format": "uri"
          },
          "outputBlobUri": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "JobStatus": {
        "enum": [
          "notstarted",
          "running",
          "succeeded",
          "partiallySucceeded",
          "failed",
          "cancelled",
          "cancelling"
        ]
      },
      "JsonDocument": {},
      "JsonElement": {},
      "JsonPatch": {},
      "PageOfJsonDocument": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array"
          },
          "continuationToken": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "PageWithNextLinkOfImportJob": {
        "type": "object",
        "properties": {
          "nextLink": {
            "type": [
              "null",
              "string"
            ],
            "format": "uri"
          },
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ImportJob"
            }
          },
          "continuationToken": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": [
              "null",
              "string"
            ]
          },
          "title": {
            "type": [
              "null",
              "string"
            ]
          },
          "status": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "null",
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "detail": {
            "type": [
              "null",
              "string"
            ]
          },
          "instance": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "QueryRequest": {
        "type": "object",
        "properties": {
          "query": {
            "type": [
              "null",
              "string"
            ]
          },
          "continuationToken": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Query"
    },
    {
      "name": "Digital Twins"
    },
    {
      "name": "Components"
    },
    {
      "name": "Telemetry"
    },
    {
      "name": "Relationships"
    },
    {
      "name": "Models"
    },
    {
      "name": "Import Jobs"
    }
  ]
}